<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="<?php echo PATH;?>css/common.css"/>
    <link rel="stylesheet" type="text/css" href="<?php echo PATH;?>css/main.css"/>
    <script type="text/javascript" src="<?php echo PATH;?>js/libs/modernizr.min.js"></script>
</head>
<body>
<!-- top -->
<?php include VIEWSDIR.'/public/top.html'; ?>
<div class="container clearfix">
<!-- menu -->
<?php include VIEWSDIR.'/public/menu.html'; ?>
    <!--/sidebar-->
    <div class="main-wrap" style="padding:0 0 0 20px;">
 
        <div class="crumb-wrap">
            <div class="crumb-list">
                <i class="icon-font"></i><a href="<?php echo URL;?>/index/index">首页</a>
                <span class="crumb-step">&gt;</span><a class="crumb-name" href="<?php echo URL;?>/invitation/index">论坛管理</a>
                <span class="crumb-step">&gt;</span><span>帖子详情</span>
            </div>
        </div>
        <div class="result-wrap" style="background:#fff;padding:0 20px 20px;">
            <div class="result-content">
                <form action="/jscss/admin/design/add" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th width="120">用户名：</th>
                                <td>
                                    <?php echo $info['name'];?>
                                </td>
                            </tr>
                            <tr>
                                <th>用户类型：</th>
                                <td>
                                     <?php echo $type[$info['type']];?>
                                </td>
                            </tr>
                            <tr>
                                <th>帖子标题：</th>
                                <td>
                                    <?php echo $info['title'];?>
                                </td>
                            </tr>
                            <tr>
                                <th>发帖时间：</th>
                                <td>
                                    <?php echo diyDate($info['create_time'],1);?>
                                </td>
                            </tr>
                            <tr>
                                <th>帖子内容：</th>
                                <td>
                                    <?php echo $info['content'];?>
                                </td>
                            </tr>
                            <tr>
                                <th>帖子图片：</th>
                                <td>
                                    <?php 
                                        if($info['img']){
                                            foreach (($info['img']) as $val){
                                    ?>
                                    <img src="<?php echo $path.$val["img_url"]?>" height="100">
                                    <?php } 
                                            }else{?>
                                    此贴无图
                                    <?php }?>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
</div>
</body>
</html>