
<div class="sidebar-wrap">
    <div class="sidebar-title">
        <h1>菜单</h1>
    </div>
    <div class="sidebar-content">
        <ul class="sidebar-list">
            <li>
                <a href="#"><i class="icon-font">&#xe003;</i>常用操作</a>
                <ul class="sub-menu">
                    <li>
                        <a href="<?php echo URL;?>/user/index" target="mainFrame"><i class="icon-font">&#xe014;</i>用户管理</a>
                    </li>
                    <li>
                        <a href="<?php echo URL;?>/invitation/index" target="mainFrame"><i class="icon-font">&#xe04c;</i>论坛管理</a>
                    </li>
                    <li>
                        <a href="<?php echo URL;?>/feedBack/index" target="mainFrame"><i class="icon-font">&#xe049;</i>用户反馈</a>
                    </li>
                    <li>
                        <a href="<?php echo URL;?>/psw/index" target="mainFrame"><i class="icon-font">&#xe016;</i>修改密码</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>